<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="thanhtoanquack" style="font-size: 1rem">
        <div data-v-9814c6fc=""><div data-v-9814c6fc="">
            Khi thanh toán tiền, Quý khách hàng vui lòng ghi rõ nội dung
            chuyển khoản như sau:
        </div><div data-v-9814c6fc="" class="pt-2"><span data-v-9814c6fc="" class="font-weight-bold text-black" style="font-weight: bold;">
              "Số điện thoại"_"Mã đặt mua".</span></div></div>
        <div data-v-9814c6fc="" class="mt-2">
            Nội dung chuyển khoản chính xác sẽ được chúng tôi cung cấp tại
            bước tiếp theo.
        </div>
        <div data-v-9814c6fc="" class="h4 font-weight-bolder mt-3">
            <h3>Thông tin đơn vị thụ hưởng</h3>
        </div>
        <div data-v-9814c6fc="" style="display: flex;flex-direction: row;">
        <div data-v-9814c6fc="" style="padding: 0.5rem 0 0.5rem 0; width: 25%;"><span data-v-9814c6fc="" class="h6 font-weight-bolder">Miền Bắc</span> <div data-v-9814c6fc="" class="h6 font-weight-bolder pt-2">
            1. Vietcombank
        </div> <div data-v-9814c6fc="" style="display: flex;flex-direction: row;"><div data-v-9814c6fc="" class="d-flex mr-2" style="margin-right: 0.5rem;"><svg data-v-9814c6fc="" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon" style="width: 7px; height: 7px; fill: rgb(42, 56, 143); position: relative; top: 5px;"><circle cx="3.5" cy="3.5" r="3.5" fill="#2A388F"></circle></svg></div> <span data-v-9814c6fc="" style="margin-top: 0.5rem;">Chủ TK: Công ty cổ phần vắc xin Việt Nam</span></div> 
        <div data-v-9814c6fc="" style="display: flex;flex-direction: row;"><div data-v-9814c6fc="" style="margin-right: 0.5rem;" ><svg data-v-9814c6fc="" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon" style="width: 7px; height: 7px; fill: rgb(42, 56, 143); position: relative; top: 5px;"><circle cx="3.5" cy="3.5" r="3.5" fill="#2A388F"></circle></svg></div> <span data-v-9814c6fc="" style="margin-top: 0.5rem;">STK :
              <strong data-v-9814c6fc="" style="color: red;"> 0961000035722</strong></span></div> <div data-v-9814c6fc="" style="display: flex;flex-direction: row;"><div data-v-9814c6fc="" class="d-flex mr-2" style="margin-right: 0.5rem;"><svg data-v-9814c6fc="" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon" style="width: 7px; height: 7px; fill: rgb(42, 56, 143); position: relative; top: 5px;"><circle cx="3.5" cy="3.5" r="3.5" fill="#2A388F"></circle></svg></div> <span data-v-9814c6fc="" style="margin-top: 0.5rem;">
              Ngân hàng: TMCP Ngoại thương VN - Chi nhánh 
              Đông Anh, Hà Nội
            </span></div></div> 
        <div data-v-9814c6fc="" style="padding: 0.5rem 0 0.5rem 0; width: 35%;">
            <span data-v-9814c6fc="" class="h6 font-weight-bolder">Miền Nam</span> 
            <div data-v-9814c6fc="" class="h6 font-weight-bolder pt-2">1. Techcombank</div> 
        <div data-v-9814c6fc="" class="h6 pt-3 d-flex" style="display: flex;flex-direction: row;"><div data-v-9814c6fc="" class="margin-right: 0.5rem;" style="margin-right: 0.5rem;"><svg data-v-9814c6fc="" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon" style="width: 7px; height: 7px; fill: rgb(42, 56, 143); position: relative; top: 5px;"><circle cx="3.5" cy="3.5" r="3.5" fill="#2A388F"></circle></svg></div> <span data-v-9814c6fc="" style="margin-top: 0.5rem;">Chủ TK: Công ty cổ phần vắc xin Việt Nam - CN
              TP.HCM</span></div> <div data-v-9814c6fc="" class="h6  d-flex"  style="display: flex;flex-direction: row;"><div data-v-9814c6fc="" class="d-flex mr-2" style="margin-right: 0.5rem;"><svg data-v-9814c6fc="" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon" style="width: 7px; height: 7px; fill: rgb(42, 56, 143); position: relative; top: 5px;"><circle cx="3.5" cy="3.5" r="3.5" fill="#2A388F"></circle></svg></div> <span data-v-9814c6fc="" style="margin-top: 0.5rem;">STK :
              <strong data-v-9814c6fc="" style="color: red;">
                19132680330012
              </strong></span></div> <div data-v-9814c6fc="" class="h6  d-flex"  style="display: flex;flex-direction: row;"><div data-v-9814c6fc="" class="d-flex mr-2" style="margin-right: 0.5rem;"><svg data-v-9814c6fc="" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon" style="width: 7px; height: 7px; fill: rgb(42, 56, 143); position: relative; top: 5px;"><circle cx="3.5" cy="3.5" r="3.5" fill="#2A388F"></circle></svg></div> <span data-v-9814c6fc="" style="margin-top: 0.5rem;">
              Ngân hàng: Techcombank – CN Thắng Lợi, Tp.HCM
        </span></div></div>
    </div>
    <div data-v-9814c6fc="" style="line-height: 20px;color: #2a388f">
        Lưu ý: Nếu quý khách đã chuyển tiền nhưng không nhận được tin
        báo từ VNVC sau 24h, vui lòng liên hệ
        <span data-v-9814c6fc="" class="" style="font-weight: bold;color:#f39021!important">
          hotline 028 7300 6595
        </span>
        để được hỗ trợ
    </div>
    </div>
</body>
</html>